.signPage{
    background-color: #E9E9E7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 88vh;
}

.signin_form{
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    border-radius: 5px;
}

.signin_form input{
    width: 350px;
    height: 10px;
    outline: none;
    padding: 10px ;
    border-radius: 5px;
}

.userform_submit{
    background-color: #565941;
    padding: 5px 170px;
    text-decoration: none;
    color: #B0AAA2;
    border-radius: 5px;
    
    
}
