.askQuetions{
    background-color: #E9E9E7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 88vh;
}

.question_form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quiz_input{
    width: 400px;
    height: 30px;
    outline: none;
    padding: 3px ;
}

#question{
    width: 400px;
    height: 80px;
    outline: none;
    padding: 3px ;
}

.white_bc{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.saveQuiz{
    background-color: #565941;
}

.cancel{
    background-color: #A47B5C;
}

.opt_buttons{
    display: flex;
    gap: 20px;
    margin: 10px;
    justify-content: end;
}