.profile_page{
    background-color: #E9E9E7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 88vh;
}

.profile{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    width: 300px;
    height: 150px;
    border-radius: 5px;
}

.profile_form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.profile_form > input{
    padding: 5px;
    border-radius: 5px;
    outline: none;
}

.profile_button{
    display: flex;
    width: 80px;
    justify-content: center;
}

.profileButton{
    display: flex;
    justify-content: end;
}