.profile{
    background-color: #E9E9E7;
    gap: 20px;
    min-height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile_user{
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    justify-content: center;
}

.profile_img{
    width: 300px;
    border-radius: 10px;
    
}

.profile_detail{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.user_take{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.user_take > a{
    text-decoration: none;
    color: black;
}

.userTitle{
    
}