
.myAnswers{
    background-color: #E9E9E7;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.quizAnsw{
    margin-top: 20px;
    background-color: #ffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 600px;
    padding: 20px;
}

.btn_answers{
    display: flex;
    height: 20px;
    align-items: center;
    gap: 20px;
}

.thoughts{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.btn_reply{
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

#comment{
    width: 400px;
}


.comments{
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn_comment{
    background-color: #565941;
    color: white;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.increment_btn{
    background-color: #565941;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 3px 10px;
    margin-bottom: 10;
}

.decrement_btn{
    background-color: #A47B5C;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 3px 10px;
    margin-bottom: 10;
}

