.myAnswers{
    background-color: #E9E9E7;
    height: 86vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quizAnsw{
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 10px;
    width: 600px;  
}

.btn_answers{
    display: flex;
    height: 20px;
    align-items: center;
    gap: 20px;
}

.thoughts{
    display: flex;
    justify-content: space-between;
}

.comments{
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn_comment{
    background-color: #565941;
    color: white;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.increment_btn{
    background-color: #565941;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.decrement_btn{
    background-color: #A47B5C;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
}















