.myAnswers{
    background-color: #E9E9E7;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quizAnsw{
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 10px;
    width: 600px;  
}

.btn_answers{
    display: flex;
    height: 20px;
    align-items: center;
    gap: 20px;
}

.thoughts{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.btn_reply{
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.btn_reply> a{
    text-decoration: none;
}

.comments{
    display: flex;
    align-items: center;
    gap: 20px;
}

#comment{
    width: 400px;
}

.btn_comment{
    background-color: #565941;
    color: white;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.increment_btn{
    background-color: #565941;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10;
}

.decrement_btn{
    background-color: #A47B5C;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10;
}
.user{
    margin-top: 10px;
}















