.myHome{
    background-color: #E9E9E7;
    gap: 20px;
    min-height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 400px;
}



.question_field{
    width: 700px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    
}

.votes{
    display: flex;
    gap: 20px;
    /* justify-content: end; */
    justify-content: space-between;
    align-items: center;
}

.related_icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.opinions{
    /* border: 1px solid red; */
    width: 16rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.upvotes{
    background-color: #565941;
    height: 20px;
    border: none;
    outline: none;
    color: #B0AAA2;
}

.downvotes{
     background-color: #A47B5C;
    padding: 5px 10px;
    height: 20px;
    border: none;
    outline: none;
    color: #B0AAA2;
}

.about_questions{
    background-color: #565941;
    height: 20px;
    border: none;
    outline: none;
    padding: 2px 10px;
    border-radius: 5px;
}


.about_questions> a{
    color: #B0AAA2;
    text-decoration: none;
    background-color: #565941;

}
.questions_part{
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}

.questions_part a{
    text-decoration: none;
}

.question_field> a{
}