.reply{
    background-color: #E9E9E7;
    gap: 20px;
    min-height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reply_white{
    background-color: white;
    padding: 50px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#reply_text{
    padding: 10px;
    outline: none;
}

.answer_quiz{
    background-color: #565941;
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 5px 10px;
}

.answer_quiz > a{
    color: white;
    text-decoration: none;
}

.cancel_answer{
    background-color: #A47B5C;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 5px 10px;
}

.cancel_answer> a{
    color: white;
    text-decoration: none;
}

.ans_button{
    display: flex;
    gap: 10px;
}